<footer id="colophon" class="main-footer" role="contentinfo">
  <div class="sploush">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">@Copyright BMyGuide</div>
      </div>
    </div>
</div>
</footer><!-- #footer -->
