{% trans_default_domain 'FOSUserBundle' %}

<div class="layout-header">
  <header id="masthead" class="main-header" role="banner">
    <div class="header-nav-brand">
      <a href="/" class="header-logo"><img src="{{ asset('images/logo.png') }}" alt="BMyGuide"></a>
    </div>
    <nav class="header-nav-right">
      {{ knp_menu_render('main', {'template': 'Menu/knp_menu.html.twig', 'allow_safe_labels': true}) }}
    </nav>
  </header>
</div> <!-- layout-header -->
