html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

ul {
    padding: 0;
    margin: 0;
}

button, input, label, select, textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, textarea {
    margin-left: 0;
}

.layout {
    position: relative;
    height: 100%;
    margin: 0 auto;
    background-color: #EDEDED;
    color: #054752;
    font-size: 16px;
    line-height: 1.5;
}

.layout-header {
    position: relative;
    background-color: #048b9a;
}

.main-header {
    z-index: 2;
    position: relative;
    max-width: 1280px;
    padding: 0 35px;
    margin: 0 auto;
}

nav.navbar {
    font-size: 14px;
    line-height: 1;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}

nav.navbar .navbar-brand {
    margin-top: 8px;
    margin-left: 16px;
}

nav.navbar .navbar-toggler {
    margin-right: 16px;
}

nav.navbar .navbar-brand > a > img {
	max-height: 35px;
}

nav.navbar .navbar-nav > li > a.nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 25px;
}

@media (max-width: 767.98px) {
  nav.navbar .navbar-nav > li > a.nav-link {
    background-color: #fff;
    color: #048b9a;
    font-size: 15px;
    font-weight: normal;
    padding: 15px;
  }

  nav.navbar .navbar-nav > li > a.nav-link:hover {
    background-color: #f8f9fa;
    color: #000;
  }
}

@media (max-width: 767.98px) {
  nav.navbar .navbar-nav > li.dropdown > a.dropdown-toggle {
    display: none;
  }
}

nav.navbar .navbar-nav > li.dropdown > a.dropdown-toggle::after {
    display:none
}

nav.navbar .navbar-nav > li > a.header-nav-pic  {
    padding: 0 25px 0 65px;
    line-height: 45px;
}

.fb-pic {
    max-height: 40px;
}

nav.navbar .navbar-nav > li.dropdown .dropdown-menu {
    right: 0;
    left: auto;
    font-size: 15px;
    border-radius: 0;
    margin-top: 7px;
    padding: 0;
    min-width: 280px;
}

nav.navbar .navbar-nav > li.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

@media (max-width: 767.98px) {
  nav.navbar .navbar-nav > li.dropdown .dropdown-menu {
    display: block;
    margin-top: 0;
    border: none;
  }
}

nav.navbar .navbar-nav > li.dropdown .dropdown-menu .dropdown-divider, nav.navbar .navbar-nav > li .dropdown-divider {
    margin: 0;
}

@media (min-width: 768px) {
  nav.navbar .navbar-nav > li .dropdown-divider {
    display: none;
  }
}

@media (min-width: 768px) {
  nav.navbar .navbar-nav > li.dropdown .dropdown-menu .dropdown-divider:nth-of-type(1) {
    display: none;
  }
}

@media (max-width: 767.98px) {
  nav.navbar .navbar-nav > li.dropdown .dropdown-menu .dropdown-divider {
    display: none;
  }
  nav.navbar .navbar-nav > li.dropdown .dropdown-menu .dropdown-divider:nth-of-type(1) {
    display: block;
  }
}

nav.navbar .navbar-nav > li.dropdown .dropdown-menu a.nav-link {
    color: #048b9a;
    padding: 15px;
}

nav.navbar .navbar-nav > li.dropdown .dropdown-menu a.nav-link:hover {
    color: #000;
}

.profile-nav {
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 0;
    white-space: nowrap;
    overflow-x: auto;
    padding-left: 0;
    list-style: none;
    line-height: 49px;
}

.profile-nav li {
    display: inline-block;
    padding: 0;
    position: static;
}

.profile-nav li a {
    padding: 15px 30px;
}

.profile-nav-text {
	  cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

a {
	color: #287fb8;
	background-color: transparent;
  text-decoration: none;
}

.u-left {
    float: left;
}

.u-right {
    float: right;
}

.u-text-center {
    text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
    }

input[type="text"], input[type="password"], input[type="email"] {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    padding: 8px;
    width: 100%;
}

input[type=checkbox]+label {
    margin-bottom: 0;
    margin-left: 10px;
}

input[type='submit'] {
    background-color: #287fb8;
    border: 1px solid #287fb8;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

input[type='submit'].no-max-width, .button.no-max-width {
    max-width: 100%;
}

input[type='submit'].full-width, .button.full-width {
    width: 100%;
}

input[type=checkbox] {
    cursor: pointer;
    display: inline;
    margin-right: 2px;
    font-size: 11px;
    box-sizing: border-box;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0 0 1em;
    padding: 0;
}

.t-bold {
	font-weight: 700;
}

.button {
    background-color: #287fb8;
    border: 1px solid #287fb8;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
