html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

ul {
    padding: 0;
    margin: 0;
}

button, input, label, select, textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, textarea {
    margin-left: 0;
}

.layout {
    position: relative;
    height: 100%;
    margin: 0 auto;
    background-color: #EDEDED;
    color: #054752;
    font-size: 16px;
    line-height: 1.5;
}

.layout-header {
    position: relative;
    background-color: #048b9a;
}

.main-header {
    z-index: 2;
    position: relative;
    max-width: 1360px;
    min-height: 75px;
    padding: 15px 35px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1;
    background-color: #048b9a;
}

.header-logo {
	display: block;
  width: 127px;
}

.header-nav-brand {
  float: left;
}

.header-nav-brand img {
	max-height: 45px;
}

.header-nav-right {
    float: right;
    font-size: 15px;
    line-height: 1;
}

.header-nav-right li.header-nav-li {
    display: block;
    float: left;
}

.header-nav-right li>a.header-nav-text {
    display: block;
    padding: 15px 25px;
    font-weight: 700;
    color: #fff;
}

.header-nav-right li>a.header-nav-text:hover {
    color: #054752;
    text-decoration: none;
}

.header-nav-right li>a.header-nav-pic  {
    display: block;
    padding: 0 25px 0 65px;
    line-height: 45px;
}

nav ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: block;
}

.header-nav-li {
    position: relative;
}

.header-nav-text, .header-nav-sub-text {
	  cursor: pointer;
    text-decoration: none;
}

.header-nav-sub-text {
    color: #048b9a !important;
}

.mod-pic {
    display: inline-block;
    max-height: 40px;
}

.test {
    background-color: #fff;
    color: #048b9a;
    border: 1px solid rgba(0,0,0,0.15);
    display: none;
    position: absolute;
    top: 100%;
    right: -20px;
    width: 180px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    text-align: left;
}

.header-nav-right li.dropdown .dropdown-menu {
    border: 1px solid #dbdbdb;
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    min-width: 280px;
    max-width: 460px;
    margin-top: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}

.test li>a {
    display: block;
}

.header-nav-right li.dropdown .dropdown-menu>li>a {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #048b9a;
}

.header-nav-right li.dropdown .dropdown-menu:before {
          content: "";
          position: absolute;
          top: -20px;
          left: 0;
          right: 0;
          height: 20px;
}

.header-nav-right li:hover .dropdown-menu, .dropdown-menu:hover {
    display: block;
}
.profile-nav {
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 0;
    white-space: nowrap;
    overflow-x: auto;
    padding-left: 0;
    list-style: none;
    line-height: 49px;
}

.profile-nav li {
    display: inline-block;
    padding: 0;
    position: static;
}

.profile-nav li a {
    padding: 15px 30px;
}

.profile-nav-text {
	  cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

img.img-round {
    border-radius: 50%;
}

.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center
}

a {
	color: #287fb8;
	background-color: transparent;
    text-decoration: none;
}

.u-left {
    float: left;
}

.u-right {
    float: right;
}

.u-text-center {
    text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
    }

input[type="text"], input[type="password"], input[type="email"] {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    padding: 8px;
    width: 100%;
}

input[type=checkbox]+label {
    margin-bottom: 0;
    margin-left: 10px;
}

input[type='submit'] {
    background-color: #287fb8;
    border: 1px solid #287fb8;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

input[type='submit'].no-max-width, .button.no-max-width {
    max-width: 100%;
}

input[type='submit'].full-width, .button.full-width {
    width: 100%;
}

input[type=checkbox] {
    cursor: pointer;
    display: inline;
    margin-right: 2px;
    font-size: 11px;
    box-sizing: border-box;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0 0 1em;
    padding: 0;
}

.t-bold {
	font-weight: 700;
}

.button {
    background-color: #287fb8;
    border: 1px solid #287fb8;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
